LAST WILL AND TESTAMENT

THIS IS THE LAST WILL AND TESTAMENT of me, [TESTATOR_FULL_NAME], of [TESTATOR_ADDRESS],
[TESTATOR_OCCUPATION], born on [TESTATOR_DOB].


1. REVOCATION

I hereby revoke all former Wills and testamentary dispositions previously made by me.


2. APPOINTMENT OF EXECUTORS

I appoint [EXECUTOR_PRIMARY_FULL_NAME], of [EXECUTOR_PRIMARY_ADDRESS], my
[EXECUTOR_PRIMARY_RELATIONSHIP], to be the Executor of this my Will.

[IF_SUBSTITUTE_EXECUTOR]
In the event that [EXECUTOR_PRIMARY_FULL_NAME] is unable or unwilling to act as Executor,
I appoint [EXECUTOR_SUBSTITUTE_FULL_NAME], of [EXECUTOR_SUBSTITUTE_ADDRESS],
to act as Executor in their place.
[/IF_SUBSTITUTE_EXECUTOR]


3. APPOINTMENT OF GUARDIAN

[IF_GUARDIAN]
In the event that my children are under the age of eighteen (18) years at the date of my
death, and no surviving parent is able to care for them, I appoint [GUARDIAN_NAME], of
[GUARDIAN_ADDRESS], to be the guardian of such children.
[/IF_GUARDIAN]

[IF_NO_GUARDIAN]
No appointment of guardian is made.
[/IF_NO_GUARDIAN]


4. SPECIFIC GIFTS AND BEQUESTS

[IF_SPECIFIC_GIFTS]
I give the following specific gifts and bequests, free of inheritance tax:

[SPECIFIC_GIFTS_LIST]
[/IF_SPECIFIC_GIFTS]

[IF_NO_SPECIFIC_GIFTS]
I make no specific gifts or bequests.
[/IF_NO_SPECIFIC_GIFTS]


5. RESIDUARY ESTATE

Subject to the payment of my debts, funeral and testamentary expenses, and any
inheritance tax or other duties payable in respect of my estate, I give all the
remainder of my real and personal property not otherwise disposed of (my "Residuary
Estate") to my Executor(s) to hold on trust absolutely for the following beneficiaries
in the shares and proportions set out below:

[RESIDUARY_BENEFICIARIES_LIST]

If any beneficiary should predecease me, their share shall fall back into my Residuary
Estate to be distributed among the surviving beneficiaries in the same proportions as
their respective shares bear to the total of their shares.


6. FUNERAL WISHES

[IF_FUNERAL_WISHES]
I express (but do not direct, these being wishes only and not legally binding
instructions) the following wishes in relation to my funeral and the disposal of my
remains:

[FUNERAL_WISHES]
[/IF_FUNERAL_WISHES]

[IF_NO_FUNERAL_WISHES]
I express no specific funeral wishes in this Will.
[/IF_NO_FUNERAL_WISHES]


7. GOVERNING LAW

This Will shall be governed by and construed in accordance with the law of England
and Wales.


IN WITNESS WHEREOF I have hereunto set my hand to this my Last Will this _____ day
of _________________ 20___.


SIGNED by [TESTATOR_FULL_NAME]                    )
as their Last Will and Testament in our presence, )
and then by us in the presence of the Testator    )
and in the presence of each other:                )


Testator's Signature: _______________________________

Full Name (print):    _______________________________


WITNESS 1

Full Name:   _______________________________
Address:     _______________________________
             _______________________________
             _______________________________
Occupation:  _______________________________
Signature:   _______________________________
Date:        _______________________________


WITNESS 2

Full Name:   _______________________________
Address:     _______________________________
             _______________________________
             _______________________________
Occupation:  _______________________________
Signature:   _______________________________
Date:        _______________________________


---
NOTE: This document has been prepared based on information provided to an AI-assisted
drafting system. It has not been reviewed by a solicitor. The testator is strongly
advised to have this document reviewed by a qualified solicitor practising in England
and Wales before signing. This document will only become a valid Will when signed and
witnessed in accordance with the Wills Act 1837 (as amended).
